html, body{width:100%; height:100%; margin:0; padding:0; font-family: "Microsoft Yahei"; font-size: 18px;}
body{overflow-x: hidden;}
div{padding:0; margin:0}
ul, li{list-style: none;}
a{text-decoration: none;}
*{
	box-sizing: border-box;
}
.row{display: block; width: 100%;}
.row:before, .row:after{
	display: table;
	content: " ";
	clear:both;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	float:left;
	min-height: 1px;
}
.col-12 {width:100%}
.col-11 {width:91.66666666666666%}
.col-10 {width:83.33333333333334%}
.col-9 {width:75%}
.col-8 {width:66.66666666666666%}
.col-7 {width:58.333333333333336%}
.col-6 {width:50%}
.col-5 {width:41.66666666666667%}
.col-4 {width:33.33333333333333%}
.col-3 {width:25%}
.col-2 {width:16.666666666666664%}
.col-1 {width:8.333333333333332%}

.p10{padding: 10px}
.p20{padding: 20px}
.p30{padding: 30px;}
.tc{text-align: center;	}
.tl{text-align: left;	}
.tr{text-align: right;	}
/*-------------------------------*/
body{
	background: #f0f3f5;
}
.app{
	width: 80%;
	margin: 0 auto;
}
.app .panel{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #fff;
	padding: 20px;
}
.app h2{
	width: 100%;
	font-size: 30px;
	color: #222;
	text-align: center;
	font-weight: normal;
}

.nav{
	background-color: #23a9f6;
	height: 60px;
	line-height: 60px;
}
.nav img{
	width: 103px;
	height: 26px;
}

.banner img{ width: 100%;}
.blue{color: #8b9eb6;}
.gray{color: #9f9f9f;}

.scene .s1{width: 100%;}
.platform{
	display: inline-block;
	background-color: #23a9f6;
	width: 80%;
	height: 90px;
	line-height: 90px;
	color: #fff;
	vertical-align: middle;
	text-align: left;
}
.platform img{
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 20px;
}

#cooper{
	background: #2a2a2a;
	color: #fff;
	margin: 0;
	margin-top: -30px;
}
#cooper h2{
	color: #fff;
}
#footer{
	background: #212121;
	margin: 0;
	margin-top: -30px;
	color: #fff;
}
