p, span, div, ul, li{padding: 0; margin: 0}
#uxc3402wg2q.xmeet-chat-logo{
	position: fixed;
	bottom: 40px;
	right: 20px;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 100%;
	background: #e0e0e0;
	font-family: "Microsoft Yahei";
	-webkit-transition: all 0.5s ease-in-out;
}
#uxc3402wg2q.xmeet-chat-logo img{margin-top: 10px;}
#uxc3402wg2q.xmeet-chat-logo:hover{
	background-color: #32C8F6;
	cursor: pointer;
}

#px832kcdw .xmeet-chat-room{
	position: fixed;
	bottom: 120px;
	right: 10px;
	width: 200px;
	height: 200px;
	display: none;
}

#px832kcdw .xmeet-chat-room .box-body{
	background-color: #32C8F6;
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 150px;
	font-family: "Microsoft Yahei"
}
#px832kcdw .xmeet-chat-room .box-body p{
	text-align: center;
}
#px832kcdw .xmeet-chat-room .box-body p span.logo{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 100%;
	margin-top: 10px;
}
#px832kcdw .xmeet-chat-room .box-body .name{
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px #fff solid;
	text-align: center;
	color: #666;
	width: 100px;
}
#px832kcdw .xmeet-chat-room .box-body p span.logo img{
	margin-top: 10px;
}
#px832kcdw .xmeet-chat-room .box-bottom{
	background-color: #f0f0f0;
	border-radius:0 0 10px 10px;
	width: 100%;
	height: 50px;
	text-align: center;
}
#px832kcdw .xmeet-chat-room .box-bottom .btn{
	display: inline-block;
	border: 1px #e0e0e0 solid;
	background-color: #fff;
	padding: 5px 25px;
	border-radius: 20px;
	font-size: 16px;
	margin-top: 10px;
	color: #444;
}
#px832kcdw .xmeet-chat-room .box-bottom .btn:hover{
	cursor: pointer;
	background-color: #32C8F6;
	color: #fff;
}

#px832kcdw.xmeet-chat-window{
	font-family: "Microsoft Yahei";
	position: fixed;
	right: 20px;
	bottom: 40px;
	width: 460px;
	height: 510px;
	font-size: 16px; 
	box-shadow: 0 0 10px #666;
	border-radius: 10px;
	overflow: hidden;
}
#px832kcdw.xmeet-chat-window .window-title{
	padding: 10px;
	background-color: #2E3547;
	border-radius: 10px 10px 0 0;
}
#px832kcdw.xmeet-chat-window .window-title img{vertical-align: middle; margin-left: 10px;}
#px832kcdw.xmeet-chat-window .window-title .title{vertical-align: middle; color: #fff;
	display: inline-block; width: 200px; overflow: hidden; text-overflow: ellipsis;
}
#px832kcdw.xmeet-chat-window .window-title .setting{
	display: inline-block; vertical-align: middle;
	width: 32px; height:32px; cursor: pointer;
	background: url(http://meet.xpro.im/v2/api/img/cog.png) no-repeat;
	background-size: 32px 32px;
	margin-right: 20px;
}
#px832kcdw.xmeet-chat-window .window-title .setting.active{
	outline: 1px #5D4F5E dashed;
  	outline-offset: 10px;
}
#px832kcdw.xmeet-chat-window .window-title .userList{
	display: inline-block; vertical-align: middle;
	width: 32px; height:32px; cursor: pointer;
	background: url(http://meet.xpro.im/v2/api/img/users.png) no-repeat;
	background-size: 32px 32px;
}
#px832kcdw.xmeet-chat-window .window-title .userList.active{
	outline: 1px #5D4F5E dashed;
  	outline-offset: 10px;
}
#px832kcdw.xmeet-chat-window .window-title .exit{
	display: inline-block; vertical-align: middle;
	width: 26px; height:26px; cursor: pointer;
	background: url(http://meet.xpro.im/v2/api/img/x.png) no-repeat;
	background-size: 26px 26px;
	margin-left: 47px;
}

#px832kcdw.xmeet-chat-window .window-body{
	background-color: #fff;
	height: 400px;
	padding-bottom: 2px;
	position: relative;
}

#px832kcdw.xmeet-chat-window .setting-panel{
	position: absolute; z-index: 10;
	top: -120px; left: 0;
	height: 100px; text-align: center;
	width: 100%;
	background-color: #CACACA;
	padding-top: 30px;
	box-sizing: border-box;
}
#px832kcdw.xmeet-chat-window .setting-panel input{
	height: 30px; width: 300px;
}
#px832kcdw.xmeet-chat-window .setting-panel .close{
	position: absolute; left: 50%; bottom: -20px;
	height: 30px; width: 100px; border-radius: 10px;
	background: #CACACA;   font-size: 24px;
  	color: #888; margin-left: -50px;
}
#px832kcdw.xmeet-chat-window .setting-panel .close:hover{
	color: #444; cursor: pointer;
}
#px832kcdw.xmeet-chat-window .userList-panel{
	position: absolute; z-index: 11;
	top: -320px; left: 0;
	height: 300px;
	width: 100%;
	background-color: #CACACA;
	box-sizing: border-box;
	padding: 10px;
}
#px832kcdw.xmeet-chat-window .userList-panel .users{
	height: 285px;
	overflow-y: auto;
}
#px832kcdw.xmeet-chat-window .userList-panel .close{
	position: absolute; left: 50%; bottom: -20px;
	height: 30px; width: 100px; border-radius: 10px;
	background: #CACACA;   font-size: 24px;
  	color: #888; margin-left: -50px; text-align: center;
}
#px832kcdw.xmeet-chat-window .userList-panel .close:hover{
	color: #444; cursor: pointer;
}
#px832kcdw.xmeet-chat-window .userList-panel .users li{
	display: inline-block; padding: 4px 10px;
	border: #f0f0f0 1px solid; border-radius: 4px;
	cursor: pointer;  margin-right: 10px; margin-bottom: 10px;
}
#px832kcdw.xmeet-chat-window .userList-panel .users li:hover{
	background-color: #f0f0f0;
}


#px832kcdw.xmeet-chat-window .window-input{
	position: relative;
	background: #f5f5f5;
	border: 1px #ddd solid;
	border-radius: 0 0 10px 10px;
	padding: 5px;
}
#px832kcdw.xmeet-chat-window .window-input span{
	display: inline-block;
	vertical-align: middle;
}
#px832kcdw.xmeet-chat-window .window-input span:hover{
	cursor: pointer;
}
#px832kcdw .icon-emotion{
	display: inline-block; cursor: pointer;
	width: 32px;
	height: 32px;
	background: url(http://meet.xpro.im/v2/api/img/happy.png) center center no-repeat;
	background-size: 24px 24px;
	margin: 2px;
}
#px832kcdw .xmeet-chat-window .window-input .input input{
	height: 30px;
	line-height:30px;
	border: none;
	width: 500px;
	border: 1px #f0f0f0 solid;
}
#px832kcdw.xmeet-chat-window .window-input .xmeet-chat-send{
	width: 32px;
	height: 32px;
	text-align: center;
}
#px832kcdw .icon-send{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(http://meet.xpro.im/v2/api/img/paper-plane.png) center center no-repeat;
	background-size: 24px 24px;
}

/*---------------------------------------------------------*/
#px832kcdw .chat-window button:focus {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

#px832kcdw .chat-window {
	width: 310px;
	margin: 0 auto;
	overflow: hidden;
	border: 0px solid #36383a;
	border-width: 50px 15px;
	color: #474c57;
	border-radius: 20px;
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media screen and (max-width:380px) {
	#px832kcdw .chat-window {
		border: none;
		border-radius: 0px;
	}
}

#px832kcdw .chat-messages {
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 2px 2px 0 0;
	background: #BEE4F9;
}

#px832kcdw .chat-messages-list {
	list-style-type: none;
	height: 380px;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

#px832kcdw .chat-message {
	position: relative;
	font-size: 0;
}

#px832kcdw .chat-message-effect {
	position: absolute;
}

#px832kcdw .chat-message-bubble {
	display: inline-block;
	font-size: 14px;
	max-width: 350px;
	border-radius: 4px;
	min-width: 0;
	position: relative;
	margin-bottom: 5px;
}
#px832kcdw .chat-message-bubble .msg{
	background-color: #e8e8e8;
	padding: 8px;
	border-radius: 4px;
	color: #222;
}
#px832kcdw .chat-message-bubble .msg img{
	vertical-align: middle;
}
#px832kcdw .chat-message-bubble .user{
	color: #B4A1A1;
	font-size: 12px;
	text-indent: 5px;
}
#px832kcdw .chat-message-bubble .user i{
	padding-right: 10px;
}
#px832kcdw .chat-message-bubble .user:hover{
	color: #888;
	cursor: pointer;
}


#px832kcdw .message-self {
	text-align: right;
}
#px832kcdw .message-self .chat-message-bubble { 
	color: #222;
	text-align: left;
}

#px832kcdw .notice .chat-message-bubble .msg{
	background-color: #A5FFB7;
	padding: 4px;
	color: #444;
}
#px832kcdw .notice .chat-message-bubble .msg{
	background-color: #A5FFB7;
	padding: 4px;
	color: #444;
}

#px832kcdw .hsitory-self{
	text-align: right;
}
#px832kcdw .hsitory-self .chat-message-bubble { 
	text-align: left;
}

#px832kcdw .system{
	text-align: center;
}
#px832kcdw .system .chat-message-bubble .msg{
	background: #fff;
	color: #666;
}
#px832kcdw .system .chat-message-bubble .msg:after{
	content: "";
	position: absolute;
	left: -95px;
	top: 18px;
	width: 300px;
	height: 0px;
	border-top: 1px #ccc solid;
	z-index: -1;
}

#px832kcdw .chat-input-bar {
	position: relative;
	background: #e0e0e0;
	border-radius: 0 0 10px 10px;
}

#px832kcdw .chat-input-wrapper {
	position: relative;
	z-index: 200;
	border-radius: 0 0 10px 10px;
	background-color: #E0E0E0;
}

#px832kcdw .chat-input-wrapper,
#px832kcdw .chat-send {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 16px;
	cursor: pointer;
}

#px832kcdw .chat-input-tool {
	background: transparent;
	border: none;
	padding: 0 0.75em;
	color: inherit;
}

#px832kcdw .chat-input {
	outline: none;
	resize: none;
	overflow: hidden;
	-webkit-flex: 1;
	flex: 1;
	font-size: 14px;
	padding: 5px 10px 2px 10px;
	margin: 3px 2px 2px 2px;
	cursor: text;
	background-color: #fff;
	max-height: 50px;
}
#px832kcdw .chat-input img{vertical-align: middle;}

#px832kcdw .chat-input:empty::before {
	content: "请输入...";
	color: #2B8EC2;
}

#px832kcdw .chat-input:focus::before {
	content: "";
}

#px832kcdw .chat-send {
	background: transparent;
	border: none;
	position: relative;
	overflow: hidden;
	padding: 0 0.75em;
	color: inherit;
	-webkit-transition: color 0.6s;
	transition: color 0.6s;
}

#px832kcdw .chat-input:empty + .chat-send {
	color: #2B8EC2;
}

#px832kcdw .chat-send>i {
	position: relative;
}

#px832kcdw .chat-effect-container {
	position: absolute;
	top: 0px;
	width: 100%;
}

#px832kcdw .chat-effect-bar {
	background: #e0e0e0;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

#px832kcdw .chat-effect-dots {
	position: absolute;
}

#px832kcdw .chat-effect-dot {
	background: #e0e0e0;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100%;
}

#px832kcdw .chat-info-container {
	position: absolute;
	top: -20px;
	font-size: 12px;
	color: #2B8EC2;
}

#px832kcdw .chat-info-typing {
	position: absolute;
	left: 80px;
	white-space: nowrap;
}
#px832kcdw .emotion-panel{
	position: absolute; background-color: #fff;
	width: 460px; height: 196px;
	bottom: 40px; left: 0; overflow-y: auto;
	border: 1px #ccc solid;
	box-shadow: 0 0 5px #ccc;
	display: none;
}
#px832kcdw .emotion-panel img{
	cursor: pointer;
}